.page {
  text-align: center;
  background-color: #282c34;
  overflow: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

body {
  font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
  color: white;
  background-color: #282c34;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title{
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.Information {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.year {
  font-size: 22px;
  color: #61dafb;
}

button.year {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  font-size: 22px;
}

.year:hover {
  color: #333;
}
